/* Media queries responsivas */
@media (max-width: 1024px) {
    .carousel-container {
        gap: 10px;
    }
    
    .carousel-btn {
        width: 40px;
        height: 40px;
        font-size: 1.2rem;
    }
}

@media (min-width: 767px) {
    .section-card {
        margin: 20px 40px;
    }

    .pic-profile-and-info {
        flex-direction: row;
    }

    .pic-profile {
        width: 25%;
    }

    .text-presentation {
        margin-left: 20px;
    }

    .info-data {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: baseline;
    }

    .card {
        width: 18em;
    }

    .card-body p {
        font-size: 0.9em;
    }
}

@media (min-width: 1023px) {
    .section-card {
        margin: 20px 50px;
    }

    .pic-profile-and-info {
        justify-content: space-evenly;
    }

    .pic-profile {
        margin-left: -.5em;
        width: 12em;
        height: 12em;
    }

    .text-presentation {
        margin-left: 9em;
        font-size: 1.5em;
    }

    .carousel-btn {
        width: 40px;
        height: 40px;
        font-size: 1.5em;
    }
}

@media (min-width: 1439px) {
    .carousel-btn {
        display: none;
    }
    
    .cards-experiences {
        transform: translateX(0) !important;
    }
    
    .section-card {
        margin: 20px 75px;
    }

    .pic-profile {
        margin-left: -4.5em;
        width: 15em;
        height: 15em;
    }

    .card {
        width: 25rem;
    }
}

@media (min-width: 1528px) {
    .section-card {
        margin: 20px 125px;
    }

    .pic-profile {
        margin-left: -12.5em;
        width: 15em;
        height: 15em;
    }
}

@media (min-width: 2048px) {
    .section-card {
        margin: 20px 125px;
    }

    .pic-profile {
        margin-left: -20.5em;
        width: 15em;
        height: 15em;
    }
}

@media (min-width: 2559px) {
    .pic-profile {
        margin-left: -32.5em;
        width: 15em;
        height: 15em;
    }
}

@media (min-width: 3439px) {
    .section-card {
        margin: 20px 205px;
    }

    .pic-profile {
        margin-left: -50.5em;
        width: 15em;
        height: 15em;
    }
}